
<div class="container text-center">
    <div class="jumbotron">
        <h1>About Cars4Ads</h1>
        <h4>Welcome to Cars4Ads</h4>
        <h5>Cars4Ads is a webpage designed to connect business owners, great and small, with car owners willing to rent some of their external car space for some extra cash. Car owners can post ads with attractive details like showing their location, their usual driving routes, how far they drive on average, pictures of their car space with a description of the area of the car that they're happy to use as rent space. Otherwise business owners can also post ads on the webpage showing their advertisement plans for a car, an image, size of the ad, its preferable location i.e the rear window or side doors, prefered area for the ad to be active</h5>
    </div>
</div>
